<div class="mn-overlay animated fadeIn">
    <div class="overlay-content">
        <div class="overlay-logo">
            <img src="assets/images/branding/logo.png" alt="App Logo" />
        </div>

        <div class="overlay-version">
            <abbr>{{appVersion|default('1.0.0')}}</abbr>
        </div>

        <div class="overlay-loader">
            <img src="assets/images/icons/ajax.gif" alt="Loading..." />
        </div>

        <div class="overlay-message">
            <span class="message">{{message|default('Loading')}}...</span>
        </div>
    </div>
</div>