.f-width{
    padding-right: 0px;
    padding-left: 0px;
}

.footer-area {
    position: relative;
    /* border-top: var(--footer-border-size) var(--footer-border-color) var(--footer-border-style); */
    border-radius: 0;
    background: inherit !important;
    /* background: #393836;
    background: var(--footer-back); */
    color: inherit !important;
    /* color: var(--footer-font-color); */
    /* flex-grow: 1; */

    border-top-style: dashed !important;
    border-top-width: 1px !important;
    border-top-color: inherit !important;
    font-weight:300;
}

.dark-mode .footer-area{
    color: var(--color-white-100);
    background-color: var(--color-black-400);
    box-shadow: 0 -4px 8px rgba(189, 187, 242, 0.2);
}