.log-viewer{
    background:#1e1e1e;
    color:#ddd;
    padding:20px;
    border-radius:6px;

    white-space:pre-wrap;
    word-break:break-word;

    font-family:Consolas, monospace;
    font-size:13px;

    height:75vh;
    overflow:auto;
}

.timestamp{
    color:#58a6ff;
}

.fatal{
    color:#ff4d4d;
    font-weight:bold;
}

.warning{
    color:#ffb74d;
    font-weight:bold;
}