{% set title = (page_title|default('Manage Modules')) ~ ' | ' ~ app_name %}
{% extends 'layouts/admin.twig' %}


{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

{% include "partials/admin/breadcrumb.twig" %}

<h1>Manage Services</h1>

{% endblock %}


