.iconpicker{
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.iconpicker .icons{
    display:inline-block;
    padding: 5px 10px;
    background: bisque;
    cursor: pointer;
}

.iconpicker .icons.selected{
    background:#4c6533;
    color: wheat;
}

.input-with-iconpicker{
    padding-right: 38px;
    padding-left: 38px;
}