/*OPTIONS MENU*/

.optionsButton {
    cursor: pointer;
    padding: 8px;
}

.optionsButton.active {
    background-color: #282828;
}

.optionsMenu {
    position: absolute; /*Edit june 2022 for visibility */
    background-color: #282828;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    z-index: 80;
    display: none;
    top: -50px;
    margin-top: 3px;
    overflow-wrap: break-word;
    max-height: 200px;
    overflow-x:wrap;
    overflow-y: auto;
    scrollbar-color: pink lightblue !important;
}

.optionsMenu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
    background-color: lightgrey;
}
  
.optionsMenu::-webkit-scrollbar-thumb {
    background-color: rgb(73, 73, 73);
}

.optionsMenu:empty {
    padding: 0;
    margin: 0;
    border: none;
}

td.table-opt.active{
    background-color: #333;
}

.optionsMenu .item {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(147, 147, 147, 0.8);
    cursor: pointer;
    height: 40px;
    background-color: #282828;
    font-size: 14px;
    text-align: left;
    display: block;
}

.optionsMenu .item:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.optionsMenu select {
    border: none;
    /*    text-indent: 12px;*/
    -webkit-appearance: none;
    -moz-appearance: none;

}

scroll-link.bck-mnu.wow.bounceInLeft.animated {
    /* Basic styles */
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text color */
    padding: 10px 20px; /* Padding around the text */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underlines from links */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Indicate it's clickable */
  
    /* Hover effect */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

scroll-link.bck-mnu.wow.bounceInLeft.animated:hover {
    background-color: #ddd; /* Slightly darker background on hover */
}