/*THEME Styles*/
@import url('main.css');
@import url('header.css');
@import url('menus.css');
@import url('sidebar.css');
@import url('widgets.css');
@import url('modes.css');
@import url('overlay.css');
@import url('forms.css');
@import url('tabs.css');
@import url('containers.css'); 
@import url('elements.css'); 
@import url('errors.css');
@import url('notifications.css');
@import url('iconpicker.css');
@import url('unsorted.css');


/*Extras*/
.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

/*Sde-Bar Fix*/
.user-menu-wrap {
  position: relative;
  width: 36px;
  margin: 1px auto; /* 50px auto; */

}

.menu-container {
  visibility: hidden;
  opacity: 0;
}
.menu-container.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.user-menu {
  position: absolute;
  right: -22px;
  background-color: #FFFFFF;
  width: 256px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
  z-index: 55;
}
.user-menu .profile-highlight {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding: 12px 16px;
  margin-bottom: 6px;
}
.user-menu .profile-highlight img {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-menu .profile-highlight .details {
  display: flex;
  flex-direction: column;
  margin: auto 12px;
}
.user-menu .profile-highlight .details #profile-name {
  font-weight: 600;
  font-size: 16px;
}
.user-menu .profile-highlight .details #profile-footer {
  font-weight: 300;
  font-size: 14px;
  margin-top: 4px;
}
.user-menu .footer {
  border-top: 1px solid #E0E0E0;
  padding-top: 6px;
  margin-top: 6px;
}
.user-menu .footer .user-menu-link {
  font-size: 13px;
}
.user-menu .user-menu-link {
  display: flex;
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  padding: 12px 16px;
}
.user-menu .user-menu-link div {
  margin: auto 10px;
}
.user-menu .user-menu-link:hover {
  background-color: #F5F5F5;
  color: #333333;
}
.user-menu:before {
  position: absolute;
  top: -16px;
  right: 31px;
  display: inline-block;
  content: "";
  border: 8px solid transparent;
  border-bottom-color: #E0E0E0;
}
.user-menu:after {
  position: absolute;
  top: -14px;
  right: 31px;
  display: inline-block;
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #FFFFFF;
}
#side-bar.sideActive {
	display: flex; 
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 10;
  width: 1.75rem;
  height: 1rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
 only screen and (min-width: 48rem) {
  .burger {
    /* display: none; */
    /* visibility: hidden; */
 }
}
.burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color: #fff;
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  right: -1.5rem;
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}
.banner-column {
  position: relative;
  display: grid;
  align-items: center;
  row-gap: 3rem;
}

/* Add responsive styles for smaller screens */
@media screen and (max-width: 600px) {
	#side-bar.sideActive { 
        display: flex; /*Ignored*/
    }

    #side-bar:not(.sideActive){
        /* display:none; */
        visibility: hidden;
    }

    div.side-bar + div.main-wrapper{
      margin-left: 0;
    }
    
    div.side-bar + div.main-wrapper.sd_collapse{
        margin-left: 0;
    }

    .logo-name__icon{
      /* display: none; */
      visibility: hidden;
    }

    .logo-name__icon_close{
      display: inline-block;
    }

    .main-wrapper, .main-wrapper.sideActive, .main-wrapper.sd_collapse.sideActive {
      margin-left: 0;
      /* padding-left:10; */
      /* padding-right:10; */
    }

    #burger{
        display:inline-block;
    }

}


/*Code Theme*/
 /* Style for the container */
 .code-container {
  position: relative;
  border: 1px solid #333;
  margin: 20px;
  background-color: #333;
  color: #fff;
}

/* Style for the header */
.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 10px;
  font-size: small;
  border-bottom: 1px solid #555;
}

/* Style for the code block */
.code-block {
  padding: 20px;
}

/* Style for the copy button */
.copy-button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

#copied-message{
  opacity:0;
}

/* Light */
.code-container.light{
  background-color: #e0dddd;
  color: #333;
  border: 1px solid #ccc;
}

.code-container.light > .code-header{
  background-color: #e0dddd;
  color:#444;
  border-bottom: 1px solid #ccc;
}



/* THUMBS Up */
.centerm {
  width:350px;
/*-webkit-transform: translateY(-50%);*/
/*-moz-transform: translateY(-50%);*/
/*-ms-transform: translateY(-50%);*/
/*-o-transform: translateY(-50%);*/
/*transform: translateY(-50%);*/
max-width: 120px;
margin: 0 auto;
/*top: 50%;*/
text-align: center;
position: relative;
margin-bottom:5px;
}
.centerm::after {
clear: both;
content: "";
display: block;
}

.thumb {
-webkit-animation: scale 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: scale 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: scale 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
color: @($color);
font-size: 96px;
text-decoration: none;
}

@-webkit-keyframes scale {
0% {
  transform: scale(1);
}
1% {
  transform: scale(0);
}
20% {
  transform: scale(0);
}
35% {
  transform: scale(1.4);
}
40% {
  transform: scale(1);
}
50% {
  transform: scale(1.15);
}
65% {
  transform: scale(1);
}
90% {
  transform: scale(1);
}
100% {
  transform: scale(1);
}
}
@-moz-keyframes scale {
0% {
  transform: scale(1);
}
1% {
  transform: scale(0);
}
20% {
  transform: scale(0);
}
35% {
  transform: scale(1.4);
}
40% {
  transform: scale(1);
}
50% {
  transform: scale(1.15);
}
65% {
  transform: scale(1);
}
90% {
  transform: scale(1);
}
100% {
  transform: scale(1);
}
}
@keyframes scale {
0% {
  transform: scale(1);
}
1% {
  transform: scale(0);
}
20% {
  transform: scale(0);
}
35% {
  transform: scale(1.4);
}
40% {
  transform: scale(1);
}
50% {
  transform: scale(1.15);
}
65% {
  transform: scale(1);
}
90% {
  transform: scale(1);
}
100% {
  transform: scale(1);
}
}
.circle-wrap {
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 50%;
pointer-events: none;
}

.circle-lg {
width: 180px;
height: 180px;
border-radius: 50%;
border-style: solid;
border-color: #aef3d5;
opacity: 0;
-webkit-animation: scaleCircle 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: scaleCircle 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: scaleCircle 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

@-webkit-keyframes scaleCircle {
0% {
  border-width: 90px;
  transform: scale(0);
}
15% {
  border-color: #f9e8a0;
  border-width: 90px;
}
30% {
  border-color: #a8ebc4;
  opacity: 1;
}
35% {
  border-color: #aef3d5;
}
50% {
  border-width: 0;
  transform: scale(1);
  opacity: 0.3;
}
100% {
  border-width: 0;
  transform: scale(1);
  opacity: 0;
}
}
@-moz-keyframes scaleCircle {
0% {
  border-width: 90px;
  transform: scale(0);
}
15% {
  border-color: #f9e8a0;
  border-width: 90px;
}
30% {
  border-color: #a8ebc4;
  opacity: 1;
}
35% {
  border-color: #aef3d5;
}
50% {
  border-width: 0;
  transform: scale(1);
  opacity: 0.3;
}
100% {
  border-width: 0;
  transform: scale(1);
  opacity: 0;
}
}
@keyframes scaleCircle {
0% {
  border-width: 90px;
  transform: scale(0);
}
15% {
  border-color: #f9e8a0;
  border-width: 90px;
}
30% {
  border-color: #a8ebc4;
  opacity: 1;
}
35% {
  border-color: #aef3d5;
}
50% {
  border-width: 0;
  transform: scale(1);
  opacity: 0.3;
}
100% {
  border-width: 0;
  transform: scale(1);
  opacity: 0;
}
}
.dots-wrap {
-webkit-transform: translate(-50%, -50%) rotate(3deg);
-moz-transform: translate(-50%, -50%) rotate(3deg);
-ms-transform: translate(-50%, -50%) rotate(3deg);
-o-transform: translate(-50%, -50%) rotate(3deg);
transform: translate(-50%, -50%) rotate(3deg);
position: absolute;
top: 50%;
left: 50%;
width: 220px;
height: 220px;
pointer-events: none;
}

.dot {
width: 10px;
height: 10px;
position: absolute;
border-radius: 50%;
background: #00CCFF;
margin: 0 auto;
top: 105px;
left: 0;
right: 0;
opacity: 0;
}
.dot:nth-child(6n+1) {
background-color: #0CFBAB;
}
.dot:nth-child(6n+2) {
background-color: #F3396B;
}
.dot:nth-child(6n+3) {
background-color: #08D3FC;
}
.dot:nth-child(6n+4) {
background-color: #FCDB17;
}
.dot:nth-child(6n+5) {
background-color: #9b59b6;
}
.dot:nth-child(6n+6) {
background-color: #34495e;
}

.dot--t {
-webkit-animation: slideUp 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: slideUp 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: slideUp 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
@-webkit-keyframes slideUp {
0% {
  -webkit-transform: translateY(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translateY(-125px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translateY(-125px) scale(0);
}
}
@-moz-keyframes slideUp {
0% {
  -moz-transform: translateY(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -moz-transform: translateY(-125px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -moz-transform: translateY(-125px) scale(0);
}
}
@keyframes slideUp {
0% {
  -webkit-transform: translateY(0) scale(1);
  -moz-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  -o-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translateY(-125px) scale(1);
  -moz-transform: translateY(-125px) scale(1);
  -ms-transform: translateY(-125px) scale(1);
  -o-transform: translateY(-125px) scale(1);
  transform: translateY(-125px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translateY(-125px) scale(0);
  -moz-transform: translateY(-125px) scale(0);
  -ms-transform: translateY(-125px) scale(0);
  -o-transform: translateY(-125px) scale(0);
  transform: translateY(-125px) scale(0);
}
}
.dot--tr {
-webkit-animation: slideUpRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: slideUpRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: slideUpRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
@-webkit-keyframes slideUpRight {
0% {
  -webkit-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(125px, -80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(125px, -80px) scale(0);
}
}
@-moz-keyframes slideUpRight {
0% {
  -moz-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -moz-transform: translate(125px, -80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -moz-transform: translate(125px, -80px) scale(0);
}
}
@keyframes slideUpRight {
0% {
  -webkit-transform: translate(0) scale(1);
  -moz-transform: translate(0) scale(1);
  -ms-transform: translate(0) scale(1);
  -o-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(125px, -80px) scale(1);
  -moz-transform: translate(125px, -80px) scale(1);
  -ms-transform: translate(125px, -80px) scale(1);
  -o-transform: translate(125px, -80px) scale(1);
  transform: translate(125px, -80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(125px, -80px) scale(0);
  -moz-transform: translate(125px, -80px) scale(0);
  -ms-transform: translate(125px, -80px) scale(0);
  -o-transform: translate(125px, -80px) scale(0);
  transform: translate(125px, -80px) scale(0);
}
}
.dot--br {
-webkit-animation: slideDownRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: slideDownRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: slideDownRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
@-webkit-keyframes slideDownRight {
0% {
  -webkit-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(125px, 80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(125px, 80px) scale(0);
}
}
@-moz-keyframes slideDownRight {
0% {
  -moz-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -moz-transform: translate(125px, 80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -moz-transform: translate(125px, 80px) scale(0);
}
}
@keyframes slideDownRight {
0% {
  -webkit-transform: translate(0) scale(1);
  -moz-transform: translate(0) scale(1);
  -ms-transform: translate(0) scale(1);
  -o-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(125px, 80px) scale(1);
  -moz-transform: translate(125px, 80px) scale(1);
  -ms-transform: translate(125px, 80px) scale(1);
  -o-transform: translate(125px, 80px) scale(1);
  transform: translate(125px, 80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(125px, 80px) scale(0);
  -moz-transform: translate(125px, 80px) scale(0);
  -ms-transform: translate(125px, 80px) scale(0);
  -o-transform: translate(125px, 80px) scale(0);
  transform: translate(125px, 80px) scale(0);
}
}
.dot--b {
-webkit-animation: slideDown 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: slideDown 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: slideDown 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
@-webkit-keyframes slideDown {
0% {
  -webkit-transform: translateY(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translateY(125px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translateY(125px) scale(0);
}
}
@-moz-keyframes slideDown {
0% {
  -moz-transform: translateY(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -moz-transform: translateY(125px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -moz-transform: translateY(125px) scale(0);
}
}
@keyframes slideDown {
0% {
  -webkit-transform: translateY(0) scale(1);
  -moz-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  -o-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translateY(125px) scale(1);
  -moz-transform: translateY(125px) scale(1);
  -ms-transform: translateY(125px) scale(1);
  -o-transform: translateY(125px) scale(1);
  transform: translateY(125px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translateY(125px) scale(0);
  -moz-transform: translateY(125px) scale(0);
  -ms-transform: translateY(125px) scale(0);
  -o-transform: translateY(125px) scale(0);
  transform: translateY(125px) scale(0);
}
}
.dot--bl {
-webkit-animation: slideDownLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: slideDownLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: slideDownLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
@-webkit-keyframes slideDownLeft {
0% {
  -webkit-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(-125px, 80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(-125px, 80px) scale(0);
}
}
@-moz-keyframes slideDownLeft {
0% {
  -moz-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -moz-transform: translate(-125px, 80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -moz-transform: translate(-125px, 80px) scale(0);
}
}
@keyframes slideDownLeft {
0% {
  -webkit-transform: translate(0) scale(1);
  -moz-transform: translate(0) scale(1);
  -ms-transform: translate(0) scale(1);
  -o-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(-125px, 80px) scale(1);
  -moz-transform: translate(-125px, 80px) scale(1);
  -ms-transform: translate(-125px, 80px) scale(1);
  -o-transform: translate(-125px, 80px) scale(1);
  transform: translate(-125px, 80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(-125px, 80px) scale(0);
  -moz-transform: translate(-125px, 80px) scale(0);
  -ms-transform: translate(-125px, 80px) scale(0);
  -o-transform: translate(-125px, 80px) scale(0);
  transform: translate(-125px, 80px) scale(0);
}
}
.dot--tl {
-webkit-animation: slideUpLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-animation: slideUpLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
animation: slideUpLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}
@-webkit-keyframes slideUpLeft {
0% {
  -webkit-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(-125px, -80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(-125px, -80px) scale(0);
}
}
@-moz-keyframes slideUpLeft {
0% {
  -moz-transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -moz-transform: translate(-125px, -80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -moz-transform: translate(-125px, -80px) scale(0);
}
}
@keyframes slideUpLeft {
0% {
  -webkit-transform: translate(0) scale(1);
  -moz-transform: translate(0) scale(1);
  -ms-transform: translate(0) scale(1);
  -o-transform: translate(0) scale(1);
  transform: translate(0) scale(1);
  opacity: 0;
}
20% {
  opacity: 0;
}
50% {
  opacity: 1;
}
55% {
  -webkit-transform: translate(-125px, -80px) scale(1);
  -moz-transform: translate(-125px, -80px) scale(1);
  -ms-transform: translate(-125px, -80px) scale(1);
  -o-transform: translate(-125px, -80px) scale(1);
  transform: translate(-125px, -80px) scale(1);
  opacity: 1;
}
100% {
  opacity: 0;
  -webkit-transform: translate(-125px, -80px) scale(0);
  -moz-transform: translate(-125px, -80px) scale(0);
  -ms-transform: translate(-125px, -80px) scale(0);
  -o-transform: translate(-125px, -80px) scale(0);
  transform: translate(-125px, -80px) scale(0);
}
}
 

