*{ -webkit-tap-highlight-color: transparent !important; 
    border: none;
    outline: none;
}
*:focus {
    outline: none !important;
    border: none !important;        
    text-decoration: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}
.prevent-select {
    user-select: none; /* Disables text selection */
    -webkit-user-select: none; /* For WebKit browsers (Safari, Chrome) */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer */
}

.flex{
    display: flex;
}

.vl {
    border-left: 2px solid #c1c6c1;
    height: 38px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
}

.align-r{
    text-align: right !important;    
}
.align-l{
    text-align: left !important;    
}
.align-c{
    text-align: center !important;    
}

.w10pc{
    width: 10%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    display: flex;
    background: #dce6da;
    background: var(--body-back);
    flex-flow: column;
    height: 100vh;
}

* {
    box-sizing: border-box;
  }
  
html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    font-weight: 500;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #333;
    height: 100vh;
    background-color: #fafafa;
}
  

body.client{
    background: #333;
    background: var(--body-back-client);
}

body.overlay-visible{
	overflow: hidden;
}


.mn-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--body-overlay-back, #fff);
    z-index: 1001;
}

.mn-overlay.visible {
    display: flex;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.overlay-logo img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

.overlay-version abbr {
    color: var(--body-overlay-color, #ccc);
    font-size: small;
    margin-bottom: 20px;
}

.overlay-loader img {
    margin-bottom: 20px;
}

.overlay-message .msg {
    color: var(--body-overlay-color, #ccc);
    font-size: small;
    max-width: 70%;
    margin-bottom: 8px;
    display: flex;
    margin: auto auto;
}

body > .mn-overlay.active{
  height:100vh;
  overflow: hidden;
}



.page-header{
    z-index: 2;
}

.user-menu__item{
    border-bottom: 1px #ccc dashed;
}

i,b,em{
    display: inline;
}
section{
    border-radius:0 !important;
    position: relative;
    /* overflow: hidden; */
}

.container .content-section:nth-child(odd) {
    /*background-color: #ffffff;
    color: #333; /* Dark text for odd sections */
}

.container .content-section:nth-child(even) {
    /*background-color: #f5f5f5;
    color: #555;  Slightly lighter text for even sections */
    /* border-left: 5px solid #ccc;  */
}

.handle{
    cursor:move;
}
.center {
    text-align:center;
}
.left {
    text-align:left;
}
.right {
    text-align:right;
}
.full{
    max-width: 100% !important;
    width: 100% !important;
}

#page_content{
    padding-left: 5px;
    padding-right: 5px;
}
#page_refresh{
    display:none;

    background:#dffdab;

    padding:3px;

    cursor:pointer;

    color:#8b8e86;

    width: 100%;

    opacity:0;

    transform:translateY(-4px);

    transition:
        opacity .25s ease,
        transform .25s ease;
}

#page_refresh.visible{

    opacity:1;

    transform:translateY(0);

}

#page_refresh.sticky{
    z-index:100;
}

#content_area.section-padding{
    padding: 5px;
}
.content-wrapper{
    position:relative;
    width: 100%;
}
.details_box{
    border:0px #ccc solid;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px;
    padding:5px;
    background:url(../images/icons/bck_wht.png) top left repeat;
}
.image_box_center{
    width:29%;
    margin: auto auto;
    position: relative;
}
.image_box, .mr_box{
    width:29%;
    /* float:right; */
    display: inline-flex;
    background-color: #4d4c4c;
}
.info_box{
     width:60%;
    float:left;
    margin:3px;
    padding:3px;
}
.image_box.l,.info_box.l{
    float:left;
}
.image_box.l.s{
    width:100px;
}
.inf_block{
    margin-top:3px;
    position:relative;
}
.inf_block a{
    text-decoration: none;
}
.inf_block.centered{
    margin:auto auto;
}

.inf_block input:focus ~ .inf_block {
    border: 2px solid blue;  
}
.inf_icon{
    position:absolute;
    left:0;
    top:-25px;
    width:50px;
    height:50px;
    border-radius:50%;
    padding:2px;
    background:#1da0aa url() center center no-repeat;
     background-size:contain;
    border:2px solid #ccc;
    overflow:none;
}
.inf_cont{
    display: flex;
    position:relative;
    background:#f3e3f0 url(../images/icons/bck_wht.png) top left repeat;
    background: var(--widgets-info_block-back);
    border:5px #eae8eb solid;
    border:var(--widgets-info_block-border-size) var(--widgets-info_block-border-color) var(--widgets-info_block-border-style);
    margin-left:2px;
    border-radius:10px;
    padding:8px;
    min-height:50px;
    font-size: smaller;
    color: #3a0725;
    color: var(--widgets-info_block-color);
}

.itemWithEdd{

}
.itemEdd {
    display: none !important; /* Ensure hidden by default */
}
.itemEdd.active{
    display: inline-block !important;
}

.itemEddParent{
    border: 2px dotted #000;
}

.clickable, *[fnl]{
    cursor:pointer;
}

.inf_block:hover .inf_cont,.inf_block:focus-within .inf_cont{
	border-color:#ddc2d8;
    border-color: var(--widgets-info_block-border-color-hover);
	background-color:#f0d7eb;
    background: var(--widgets-info_block-back-hover);
}

.inf_block:hover .inf_title,.inf_block:focus-within .inf_title{
	background-color:#ddc2d8;
    background: var(--widgets-info_block-border-color-hover);
	color:#fff;
    color: var(--widgets-info_block-color-focus);
}

.inf_block:hover .int_btn,.inf_block:focus-within .int_btn{
	background-color:#ddc2d8;
    background-color: var(--widgets-info_block-back-hover);
}

.inf_cont.shdw:after{
	position: absolute;
	left:0;
	bottom:-25px;
	content:'';
	background: url(../../assets/images/icons/shadow.png) center top no-repeat;
	width: 100%;
	height:25px;
	background-size: 100% 100%;
}

.inf_desc{
	text-align: left;
	font-style: italic;
	padding-bottom:3px;
	color:#b67baa;
}

.inf_cont img.frame,.wrapper img.frame{
    max-height:150px;
}
.inf_title:not(:empty){
    float:left;
    font-weight:bold;
	/* line-height:36px; */
	background-color:#eae8eb;
    background-color: var(--widgets-info_block-border-color);
	color:rgb(185, 166, 166);
	padding:5px 15px 2px 15px;
	margin-left:10px;
	border-radius:6px;
	margin-bottom: -3px;
}
.wide_block{
    width:100%;
}

/* .inf_icon:hover,.inf_cont:hover{
	border-color:#ebebeb;
} */

.inf_cont > div.info_box:not(:only-child):first-child{
	width:98%;
}

.sticky{
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: #fff;
    border-left: 1px solid #ccc;
    padding: 10px;
}

/* .sticky:not(:first-of-type) {
    top: 60px;
}    */
/* Second sticky element */
.sticky:nth-of-type(2) {
    top: 60px;
}

/* Third sticky element */
.sticky:nth-of-type(3) {
    top: 120px;
}

/* Fourth sticky element */
.sticky:nth-of-type(4) {
    top: 180px;
}    

.pointer{
    cursor:pointer;
}

@keyframes yellowfade {
    from {
      background: yellow;
    }
    to {
      background: transparent;
    }
}

@keyframes redfade {
    from {
      background: rgb(252, 164, 148);
    }
    to {
      background: transparent;
    }
}
  
.item-highlight {
    animation: yellowfade 2s;
}
.item-highlight-red {
    animation: redfade 3s;
}


.darkmode .dashboard-counts {
    color: inherit !important;
}


.dashboard-counts .row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

.dashboard-counts .container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center;
    padding:10px;
}

.dashboard-counts .prefix, .dashboard-counts .suffix {
    margin-right: 5px; 
    padding:3px;
    font-size:2em;
}

.dashboard-counts .suffix{
    text-align: right;
}

.dashboard-counts .prefix{
    text-align: left;
}

.dashboard-counts .active_content {
    /* flex-grow:1; */
    background-color: transparent !important;
}

.dash-controls-container{
    display: inline;
    background: blanchedalmond;
    padding: 5px;
    margin: 3px;
}

.dash-controls-container.expanded{
    display: block;
}

.dash-controls-toggle{
    display: inline-block;
    cursor: pointer;
    padding: 2px 10px;
}

.dash-controls-toggle.opened{
    background-color:#333;
    color:#fff;
}

.dash-controls{
    display: none;
    font-size: smaller;
    padding: 5px;
}

.dash-controls button{
    padding: 2px 10px;
    border-radius: 10px;
}

.dash-controls.expanded{
    display: inline;
}

.drop {
    margin: 20px 0;
    padding: 5px;
    border: 2px dotted orange;
    border-radius: 5px;
}

.drop.hovering {
    background-color: #F6BF66;
}

.widget_container{
    display: flex;
    position: relative;
    overflow: hidden;
    background-color:rgb(234, 242, 247) ;
    border: 2px rgb(222, 230, 235) solid;
    padding: 3px;
}
.widget_container .name{
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
}
.widget_container .wtitle{
    flex-grow:1;
}

.widget_tools {
    display: none;
}
.widget_tools{
    position: absolute;
    right: 0;
    top:0;
    padding: 3px;
    background-color: rgb(253, 255, 244);
}

.widget_section h1 {
    background-color:rgb(234, 242, 247) ;
    --tw-text-opacity: 1;
    color: rgb(30 43 54 / var(--tw-text-opacity));
    font-size: 44px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 55px;
    margin: 0 0 20px;
    text-align:center;
}

.widget_section h2 {
    text-align:center;
    font-size: 24px;
    font-weight: 500;
}
<?php
$corePath = __DIR__.'/../partials';

$files = glob($corePath . '/*.css');
/* // die(print_r($files)); */
$out = '';
foreach ($files as $file) {
    include $file;
}
